* {
    margin:0;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://media.npr.org/assets/img/2015/10/23/istock_000013491586_large-221263fdf76e8fc0404c6c36123cc124496eb76b.jpg);
    background-size:auto;
}
ul {

    gap: 225px;
    list-style: none;
    text-align: right;
    display: flex
    
}
a {
    
    text-decoration: none;
    color:red
}
#navigation {
    position: sticky;
    background: black;
    font-size:18px
    
}    
.container {
    display:grid;
    align-items:center;
}
img {
    width: 10%;
    height: auto;
  }
  h1{
    color: blue;
    text-align: center;
  }
  p {
    color:rgb(6, 107, 107)
  }
  h2 {
    color:rgb(6, 107, 107)
  }
  section ul li{
    color:rgb(6, 107, 107)
  }
  footer {
    color:blue
  }
  